@import "colors.css";

* {
  font-family: "SF Mono";
  /*font-weight: bold;*/
}

.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background:  @background;
}

.notification {
  border-radius: 8px;
  margin: 12px;
  box-shadow: none;
  padding: 0;
}

.low {
  background:  @color5;
  border: 1px solid  @color5;
}
.low .summary,
.low .time,
.low .body {
  color:  @background;
}

.normal {
  background:  @background;
  border: 1px solid  @background;
}
.normal .summary,
.normal .time,
.normal .body {
  color:  @foreground;
}

.critical {
  background:  @color6;
  border: 1px solid  @color6;
}
.critical .summary,
.critical .time,
.critical .body {
  color:  @background;
}

.notification-content {
  background: transparent;
  padding: 6px;
  margin: 12px;
  border-radius: 8px;
}

.close-button {
  background: transparent;
  color:  @foreground;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 16px;
  margin-right: 16px;
  box-shadow: none;
  border: transparent;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background:  @foreground;
  color:  @background;
  transition: all 0.15s ease-in-out;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  transition: all 0.15s ease-in-out;
  border: transparent;
}

/*
  background: alpha( @color8, 0.25);
*/
.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  border: 1px solid  @foreground;
  background: transparent;
}

.notification-default-action {
  border-radius: 8px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
}

.inline-reply {
  margin-top: 8px;
}
.inline-reply-entry {
  background:  @background;
  color:  @foreground;
  caret-color:  @foreground;
  border-radius: 8px;
}
.inline-reply-button {
  margin-left: 4px;
  background:  @background;
  border-radius: 8px;
  color:  @foreground;
  border: 1px solid  @foreground;
}
.inline-reply-button:disabled {
  background:  @color1;
  color:  @color8;
}
.inline-reply-button:hover {
  background:  @foreground;
  color:  @background;
}

.image {
  border-radius: 8px;
}

.body-image {
  border-radius: 8px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 14px;
  font-weight: normal;
  background: transparent;
  text-shadow: none;
}

/* 
  border: 1px solid  @foreground;
*/
.control-center {
  background:  @background;
  margin: 4px;
  border-radius: 8px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

/* 
  Window behind control center and on all other monitors
  background: alpha( @foreground, 0.25);
*/
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}
.widget-title > button {
  font-size: initial;
  color:  @foreground;
  text-shadow: none;
  background:  @background;
  box-shadow: none;
  border-radius: 8px;
  border: 1px solid  @foreground;
}
.widget-title > button:hover {
  background:  @foreground;
  color:  @background;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background:  @foreground;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background:  @color2;
}
.widget-dnd > switch slider {
  background:  @background;
  border-radius: 8px;
  box-shadow: none;
}

/* Label widget */
.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}
.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}
.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}
.widget-mpris-subtitle {
  font-size: 1.1rem;
}

/* Buttons widget */
.widget-buttons-grid {
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  background-color:  @background;
}

.widget-buttons-grid>flowbox>flowboxchild>button{
  background:  @background;
  border-radius: 8px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background:  @foreground;
  color:  @background;
}

/* Menubar widget */
.widget-menubar>box>.menu-button-bar>button {
  border: none;
  background: transparent;
}

/* .AnyName { Name defined in config after #
  background-color:  @background;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.AnyName>button {
  background: transparent;
  border: none;
}

.AnyName>button:hover {
  background-color: yellow;
} */

.topbar-buttons>button { /* Name defined in config after # */
  border: none;
  background: transparent;
}

/* Volume widget */

.widget-volume {
  background-color:  @background;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.widget-volume>box>button {
  background: transparent;
  border: none;
}

.per-app-volume {
  background-color:  @color2;
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
  border-radius: 8px;
}

/* Backlight widget */
.widget-backlight {
  background-color:  @background;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

/* Title widget */
.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}
.widget-inhibitors > button {
  font-size: initial;
  color:  @foreground;
  text-shadow: none;
  background:  @background;
  box-shadow: none;
  border-radius: 8px;
}
.widget-inhibitors > button:hover {
  background:  @foreground;
  color:  @background;
}
